@model IEnumerable<Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
    <a asp-action="Create" style="width:150px ;" class="btn btn-outline-youtube">Create Post</a>
        <div class="card-body">
            <h4 class="card-title">Striped Table</h4>
            <p class="card-description">
                Add class <code>.table-striped</code>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Photo
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Action
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Post item in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/images/@item.Photo" alt="image" />
                                </td>
                                <td>
                                   @item.Title
                                </td>
                             
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" style="width:150px ;" class="btn btn-primary">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" style="width:150px ;" class="btn btn-warning">Delete</a>
                                    <a asp-action="Update" asp-route-id="@item.Id" style="width:150px ;" class="btn btn-danger">Update</a>
                                </td>

                            </tr>

                        }
                      
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

